.aloqa{
  margin-top: -400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../../assets/Group\ 98\ \(1\).png');
}

.contact{
    margin:50px; 
    
}

.contact input{

  box-sizing: border-box;

width: 440px;
height: 60px;
left: 500px;
top: 9698px;
margin: 20px;
font-size: 18px;
padding: 10px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 20px;
display: block;
}


.contact textarea{
box-sizing: border-box;
width: 440px;
height: 120px;
left: 500px;
top: 9858px;
font-size: 20px;
padding: 10px;
margin: 20px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 20px;
  display: block;

} 

.contact ::placeholder{
width: 305px;
height: 24px;
left: 556px;
top: 9716px;
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.02em;
color: #444343;
}



.aloqabtn{
width: 430px;
height: 60px;
left: 500px;
top: 10010px;
margin-left: 25px;
border: none;
cursor: pointer;
color: #FFFFFF;
font-size: 18px;
background: linear-gradient(91.59deg, #B92032 31.96%, #C37BFC 100%);
border-radius: 40px;
display: flex;
align-items: center;
justify-content: center;
}
.footer{
    display: flex;
margin-top: 50px;
text-align: center;
justify-content: center ;
}
.icon{
font-size: 50px;
padding: 10px;
color: #B92032;

}
.aloqad{
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;
padding-top: 20px;
color: #303030;
}
.arrow{

}
.tag2{
display: flex;
}
.tag h1{
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: -0.02em;
  
  background: linear-gradient(111.14deg, #000000 6.06%, #D32D42 99.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.tag {
margin-left: 60px;
margin-bottom: 100px;

}
.tag img{

width: 140px;
height: 110x;
margin-left: -50px;
padding-right: 5px;
border-radius: 26px;
}
