.til2{
    display: flex;
    width: 700px;
    
}
.part2{ 
    justify-content: space-evenly;
    display: flex;
     margin: 10px;

}
.engcs{
    margin-top: 20px;
    display: flex;
    width: 500px;
    font-weight: 400;
    font-size: 20px;
    padding: 50px;
}
.asd{
   
    width: 600px;
    height: 520px;
    background: #FAFAFA;
    border-radius: 20px;
    font-size: larger;
    padding: 60px;


}
.girl{
     border-radius: 20px;}
.bolalars{
    width: 539px;
    height: 43px;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #000000;
}
.glav2{
    
    justify-content: center;
    width: 1240px;
    height: 600px;
      top: 8023px;
    background: #FAFAFA;
    border-radius: 20px;
 
}
.lastd{
    width:1100px ;
}
.gavb{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.what{
   padding: 50px;
    display: flex;
    width: 350px;
    height: 86px;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #000000;
}

.pp1{

    display: flex;
    width: 400px;
    height: 19px;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.pp2{
    padding: 10px;
   background-color: red;
     display: flex;
    width: 320px;
    height: 19px;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.sarlavha2 {
    margin-top: -20px;
    font-size: 50px;
    font-weight: 700;
}
.sarlavha3{
    font-size: 30px;
    margin-bottom: 50px;
}
.part3{
    display: flex;
}
.languagecourse p{
    display: flex;
    font-size: larger;
    padding: 10px;
    
}

.mainlanguages{
    display: flex;
    justify-content: space-between;
}
.languagebutton{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
width: 350px;
margin-top: 60px;
margin-left: 80px;
border-radius: 30px;
background-color:rgb(255, 255, 255) ;
}

.languagebuttons{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
width: 650px;
border-radius: 30px;
margin-left: 300px;
background-color:rgb(255, 255, 255) ;


}.languagebuttons img{
    padding: 10px;
}
.languagebutton img{
    padding: 10px;
}
.Mavjud{
    font-size: 40px;
    font-weight: 700;
}
.muommolar{
     font-size: 40px;
    font-weight: 700;
}