* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
.navbar {
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(25px);
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 20;
  }
  
  .nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
  }
  
  .nav-logo {
	margin-left: 20px;
  }
  
  .nav-menu {
	display: flex;
	list-style: none;
	text-align: center;
	justify-content: center;
  }
  
  .nav-links {
	color: #000000;
	text-decoration: none;
	padding: 30px 30px;
	height: 100%;
	border-bottom: 3px solid transparent;
	font-family: 'Aeonik';
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;
flex: none;
order: 1;
flex-grow: 0;
  }
  .nav-links:hover{
	color: #B92032;
  }
 
  .nav-linkss {
	color: #000000;
	text-decoration: none;
	padding: 30px 35px;
	height: 100%;
	border-bottom: 3px solid transparent;
	margin-right: 120px;
    font-family: 'Aeonik';
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.01em;
	flex: none;
	order: 1;
	flex-grow: 0;
  }

  .fa-code {
	margin-left: 1rem;
  }
  
  .nav-item {
	line-height: 40px;
	margin-right: 1rem;
  }
  
  .nav-item:after {
	content: "";
	display: block;
	height: 3px;
	width: 0;
	background: transparent;
	transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover::after {
	width: 100%;
	background: #B92032;
  }
  
  .nav-item .active {
	color: #B92032;
	border:  #B92032;
  }
  
  .nav-icon {
	display: none;
	color: #B92032;
  }
  .ariza{
	font-family: 'Aeonik';
font-weight: 700;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
letter-spacing: -0.02em;
background: linear-gradient(111.14deg, #000000 36.06%, #D32D42 86.35%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
padding-bottom: 71px;
  }
  .bolim{
	font-family: 'Aeonik';
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;
color: #000000;
padding-bottom: 20px;
  }
  .btnn{
	font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #000000;
background-color: white;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 20px;
padding: 16px 20px;
margin-right: 30px;
margin-bottom: 40px;
  }
  .btnn img{
	width: 24px;
height: 24px;
  }
  form{
	gap: 2rem;

  }
  .inputs{
	display: flex;
	justify-content: space-around;
  }
 .input{
	font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #303030;
padding: 18px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 20px;
 }
 .input-t{
	font-family: 'Aeonik';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
	padding: 18px 350px 78px 18px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    gap: 1rem;
	color: #303030;
	margin-top: 20px;
   margin-left: 18px;
 }
.btn{
font-family: 'Aeonik';
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
background: linear-gradient(91.59deg, #B92032 31.96%, #C37BFC 100%);
border-radius: 40px;
padding: 18px 89px;
color: #FFFFFF;
margin-left: 15%;
}
  @media screen and (max-width: 960px) {
	.nav-menu {
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	  border-top: 1px solid #fff;
	  position: absolute;
	  top: 80px;
	  left: -110%;
	  opacity: 1;
	  transition: all 0.5s ease;
	}
  
	.nav-menu.active {
	  background: white;
	  left: 0px;
	  opacity: 1;
	  transition: all 0.5s ease;
	  z-index: 1;
	}
	.nav-item .active {
	  color:  #B92032;
	  border: none;
	}
	.nav-links {
	  padding: 1.5rem;
	  width: 100%;
	  display: table;
	}
  
	.nav-icon {
	  display: block;
	  position: absolute;
	  top: 0;
	  right: 0;
	  transform: translate(-100%, 60%);
	  font-size: 1.8rem;
	  cursor: pointer;
	  color:  #B92032;
	}

	.nav-logo {
		margin-left: 20px;
	  }
	.nav-linkss {
        color: #fff;
	  }

	@font-face {
		font-family:'Aeonic';
		src: url(../assets/Aeonik-font-download/Aeonik-RegularItalic.otf);
	}
	
  }
