body.active-modal {
    overflow-y: hidden;
}
body{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url ('../../assets/Group\ 97.png');
   }
.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  background-color: white;
    padding: 14px 28px;
    border-radius: 20px;
    max-width: 1400px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
}
.fa{
    color: grey;
}

.olmaxon{
    width: 132px;
    height: 89px;
    border-radius: 20px;
}
.svgg{
    margin-bottom: 20px;
}
.cofe{
    border-radius: 20px;
    width: 144px;
    height: 89px;
}
.cat{
    width: 120px;
    height: 89px;
    border-radius: 20px;
}
.boy{
    width: 163px;
    height: 89px;
    border-radius: 20px;
}   
.bizdan{
    font-family: 'Aeonik';
padding-top: 103px;
font-weight: 700;
font-size: 72px;
line-height: 86px;
text-align: center;
align-items: center;
letter-spacing: -0.02em;
color: #000000;
} 
.oqish{
    font-family: 'Aeonik';
font-weight: 700;
font-size: 48px;
line-height: 58px;
align-items: center;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
background: linear-gradient(93.15deg, #B92032 25.91%, #C37BFD 96.98%);
border-radius: 26px;
padding: 16px 24px;
}
  .til{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 19px;
  } 
  .kurs{
    display: flex;
    justify-content: center;
    gap: 1rem;
  } 
 .strelka{
    padding-left: 260px;
 }
 .strelkaa{
    padding-left: 507px;
 }
