@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   

}

div div .img {
  
    overflow: hidden;
  border-radius: 20px;
}

div .English {
  margin-top: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.02em;
  background: linear-gradient(111.14deg, #000000 36.06%, #D32D42 86.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  margin-left: 118px;
    overflow: hidden;
}
div div .tepa {
  display: flex;
  justify-content: space-around;
}
div div div div div .h2_left {
  font-style: normal;
  font-weight: 700;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  background: linear-gradient(111.14deg, #000000 36.06%, #D32D42 86.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 48px;
  margin-left: 40px;
   overflow: hidden;
}

div .ikki {
   overflow: hidden;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: 118px;
}
div div .chiziq {
   overflow: hidden;
  margin-left: -281px;
  margin-top: 75px;
}
div div .ikki_p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-right: 380px;
   overflow: hidden;
}

div div div div .sana {
  border-radius: 8px;
  text-align: center;
   overflow: hidden;
}

.nature{
   overflow: hidden;
  border-radius: 20px;
  margin-top: 80px;
}

.work{
  background: #FAFAFA;
border-radius: 20px;
 overflow: hidden;
}
.workbtn li{
   overflow: hidden;
  font-weight: 700;
font-size: 32px;
line-height: 40px;
background: #FFFFFF;
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.06);
border-radius: 16px;
text-align: center;
letter-spacing: -0.02em;
padding: 15px 90px;
cursor: pointer;
}
.workbtn li:active{
   overflow: hidden;
  background: linear-gradient(91.23deg, #B92032 36.75%, #C37BFC 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
cursor: pointer;

}
.oibtn{
   overflow: hidden;
  background: #FFFFFF;
  border: 1px solid white;
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: auto;
  padding: 20px 152px;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  div .English {
    margin-top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.02em;
    background: linear-gradient(111.14deg, #000000 36.06%, #D32D42 86.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    margin-left: 18px;
  }
}