.banner{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../assets/Group\ 97\ \(1\).png');
}

.olmaxon{
    width: 132px;
    height: 89px;
    border-radius: 20px;
}
.svgg{
    margin-bottom: 20px;
}
.cofe{
    border-radius: 20px;
    width: 144px;
    height: 89px;
}
.cat{
    width: 120px;
    height: 89px;
    border-radius: 20px;
}
.boy{
    width: 163px;
    height: 89px;
    border-radius: 20px;
}   
.bizdan{
    justify-content: center;
font-weight: 700;
font-size: 72px;
line-height: 86px;
text-align: center;
align-items: center;
letter-spacing: -0.02em;
color: #000000;
} 
.oqish{
font-weight: 700;
font-size: 48px;
line-height: 58px;
align-items: center;
color: #FFFFFF;
background: linear-gradient(93.15deg, #B92032 25.91%, #C37BFD 96.98%);
border-radius: 26px;
padding: 16px 24px;
}
  .til{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 19px;
  } 
  .kurs{
    display: flex;
    justify-content: center;
    gap: 1rem;
  } 
 .strelka{
    padding-left: 260px;
 }
 .strelkaa{
    padding-left: 507px;
 }
 .modalh1{
font-weight: 700;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
letter-spacing: -0.02em;

background: linear-gradient(111.14deg, #000000 1.06%, #D32D42 100.35%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
margin-left: 20px;
margin-right: 30px;
 }
 .modalbtn{
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 20px;
font-weight: 400;
font-size: 20px;
line-height: 24px;
width: auto;
padding: 10px 18px;
letter-spacing: 0.02em;
color: #303030;
 }

 .modalbtn:hover{
    background: linear-gradient(93.15deg, #B92032 25.91%, #C37BFD 96.98%);
    color: #FFFFFF;
 }
 .openmodal{
    background: #FFFFFF;
    border: none;
    font-weight: 500;
    width: auto;
 }
 .navtext{
    font-weight: 500;
 }
 .input{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding:15px 35px;
    letter-spacing: 0.02em;
    color: #303030;
 }
.input-t{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 22px;
    letter-spacing: 0.02em;
    color: #303030;
   width: 97%;
    height: 100px;
    margin-top: 15px;
}

.modal-p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.karusel{
    margin-top: 200px;
}
.karuselh1{
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    padding: 20px 22px;
    letter-spacing: 0.02em;
    
}

